*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    color: white;
    background-color: #1F2937;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.header{
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.banner-container{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.banner-container .header-text{
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    height: auto;
    display: flex;

}
.banner-container .header-text p{
    font-size: 18px;
    font-weight:lighter;
}
.banner-container .banner button{
    display: flex;
    font-size: 18px;
    color: white;
    background-color: #3882F6;
}
.banner-container .banner-image{
    background-color: grey;
    width: 400px;
    
}